* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Work Sans, sans-serif;
  color: #151C22; }

ul {
  list-style: none;
  padding: 0; }

p {
  margin: 0; }

h1, h2, h3 {
  margin: 0; }

a {
  text-decoration: none; }

header .menu {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  margin: 0 4%;
  margin-top: 10px; }
  header .menu .burger {
    margin-top: -10px;
    cursor: pointer;
    width: 20px; }
    header .menu .burger-cont {
      width: 30%; }
    header .menu .burger span {
      display: block;
      width: 100%;
      height: 2px;
      border-radius: 20px;
      background-color: #151C22;
      position: relative; }
    header .menu .burger span::before {
      display: block;
      width: 100%;
      height: 2px;
      border-radius: 20px;
      background-color: #151C22;
      content: "";
      position: absolute;
      transition-duration: 800ms;
      top: 5px; }
    header .menu .burger span::after {
      display: block;
      width: 100%;
      height: 2px;
      border-radius: 20px;
      background-color: #151C22;
      content: "";
      position: absolute;
      transition-duration: 800ms;
      top: 10px; }
    header .menu .burger-open span {
      animation-name: cross-up;
      animation-duration: 500ms;
      animation-fill-mode: forwards; }
@keyframes cross-up {
  50% {
    transform: translateY(10px); }
  100% {
    transform: translateY(5px) rotate(45deg); } }
      header .menu .burger-open span::after {
        animation-name: cross-down;
        animation-duration: 500ms;
        animation-fill-mode: forwards; }
@keyframes cross-down {
  50% {
    transform: translateY(-20px); }
  100% {
    transform: translateY(-10px) rotate(-90deg); } }
      header .menu .burger-open span::before {
        display: none; }
    header .menu .burger-close span {
      animation-name: up-cross;
      animation-duration: 500ms;
      animation-fill-mode: forwards; }
@keyframes up-cross {
  from {
    transform: translateY(10px) rotate(45deg); }
  50% {
    transform: rotate(0deg) translateY(10px); }
  100% {
    transform: translateY(0px); } }
      header .menu .burger-close span::after {
        animation-name: down-cross;
        animation-duration: 500ms;
        animation-fill-mode: forwards; }
@keyframes down-cross {
  from {
    transform: translateY(-20px) rotate(-90deg); }
  50% {
    transform: translateY(-20px); }
  to {
    transform: translateY(0px); } }
      header .menu .burger-close span::before {
        animation-name: middle-cross;
        animation-duration: 500ms;
        animation-fill-mode: forwards; }
@keyframes middle-cross {
  from,
                        50% {
    opacity: 0;
    transform: translateY(-10px); }
  100% {
    opacity: 1; } }
  header .menu-open {
    position: fixed;
    width: 100%;
    background-color: #fff;
    z-index: 100;
    margin: 0; }
    header .menu-open .burger-cont {
      margin: 0 4%; }
    header .menu-open .catalog {
      display: block !important;
      position: fixed;
      width: 100%;
      background-color: #fff;
      z-index: 100;
      margin-top: 520px;
      height: 1000px;
      padding: 0 4%;
      text-align: center; }
      header .menu-open .catalog__unit {
        padding: 10px 0; }
      header .menu-open .catalog__link {
        font-weight: 500;
        font-size: 20px; }
    header .menu-open .logo {
      display: none; }
    header .menu-open .purchases__unit {
      display: none; }
  header .menu .catalog {
    display: none;
    font-weight: 500;
    font-size: 16px; }
    header .menu .catalog__unit {
      margin-right: 20px; }
      header .menu .catalog__unit:hover .catalog__link::after {
        width: 100%;
        transition-duration: 0.3s; }
    header .menu .catalog__link {
      position: relative; }
      header .menu .catalog__link::after {
        content: '';
        background-color: #151C22;
        width: 0%;
        height: 2px;
        position: absolute;
        top: 20px;
        left: 0; }
  header .menu .logo {
    width: 30%;
    font-weight: 800;
    font-size: 24px;
    text-align: center; }
  header .menu .purchases {
    width: 30%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end; }
    header .menu .purchases__unit {
      margin-left: 20px; }
      header .menu .purchases__unit:hover .purchases__link::after {
        width: 100%;
        transition-duration: 0.3s; }
      header .menu .purchases__unit svg {
        width: 17px;
        height: 16px; }
    header .menu .purchases__link {
      position: relative; }
      header .menu .purchases__link::after {
        content: '';
        background-color: #151C22;
        width: 0%;
        height: 2px;
        position: absolute;
        top: 20px;
        left: 0; }
header .main {
  background-color: #fff;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  margin: 0 4%; }
  header .main .title .bread-crumb {
    margin-top: 15px;
    display: flex;
    flex-direction: row; }
    header .main .title .bread-crumb__unit {
      margin-right: 10px;
      font-weight: 500;
      font-size: 18px;
      color: #727A82; }
      header .main .title .bread-crumb__unit:hover .bread-crumb__link::after {
        width: 100%;
        transition-duration: 0.3s; }
      header .main .title .bread-crumb__unit_delete {
        display: none; }
    header .main .title .bread-crumb__link {
      color: #727A82;
      position: relative; }
      header .main .title .bread-crumb__link::after {
        content: '';
        background-color: #727A82;
        width: 0%;
        height: 2px;
        position: absolute;
        top: 23px;
        left: 0; }
      header .main .title .bread-crumb__link_active {
        color: #151C22; }
        header .main .title .bread-crumb__link_active::after {
          display: none; }
  header .main .title__name {
    display: none;
    font-weight: bold;
    font-size: 32px; }
  header .main .philosophy {
    display: none;
    height: 270px;
    width: 360px;
    text-align: center;
    background: url("../img/dia.jpg") bottom left no-repeat, url("../img/dia2.jpg") top right no-repeat;
    background-size: 50%; }
    header .main .philosophy__image {
      height: 100%; }

main {
  margin: 0 4%;
  margin-top: 25px; }
  main .filter-container {
    width: 100%;
    display: flex;
    justify-content: center; }
    main .filter-container .filter {
      height: 50px;
      width: 100%;
      border: 2px solid #151C22;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 15px;
      cursor: pointer; }
      main .filter-container .filter__name {
        font-weight: 500;
        font-size: 18px; }
      main .filter-container .filter-cont {
        display: none; }
    main .filter-container-open .filter-cont {
      display: block;
      position: fixed;
      padding: 0 4% 400px 4%;
      top: 0;
      background-color: #fff;
      width: 100%; }
    main .filter-container-open .filter-nav {
      height: 65px;
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border-bottom: 2px solid #E5E5E5; }
      main .filter-container-open .filter-nav__unit:hover .filter-nav__link::after {
        width: 100%;
        transition-duration: 0.3s; }
      main .filter-container-open .filter-nav__unit:active .filter-nav__link::after {
        width: 100%;
        transition-duration: 0.3s; }
      main .filter-container-open .filter-nav__unit:focus .filter-nav__link::after {
        width: 100%;
        transition-duration: 0.3s; }
      main .filter-container-open .filter-nav__link {
        position: relative;
        font-weight: 500;
        font-size: 14px; }
        main .filter-container-open .filter-nav__link::after {
          content: '';
          background-color: #151C22;
          width: 0%;
          height: 2px;
          position: absolute;
          top: 20px;
          left: 0; }
        main .filter-container-open .filter-nav__link_name {
          font-weight: bold;
          font-size: 18px; }
    main .filter-container-open .filter-characteristics {
      border-bottom: 2px solid #F1F2F4; }
      main .filter-container-open .filter-characteristics-price .price-none {
        display: none; }
      main .filter-container-open .filter-characteristics-price__range {
        appearance: none;
        width: 100%;
        border: 1px solid black;
        outline: none;
        height: 2px; }
        main .filter-container-open .filter-characteristics-price__range::-webkit-slider-thumb {
          -webkit-appearance: none;
          appearance: none;
          width: 16px;
          height: 16px;
          border-radius: 50%;
          background: #151C22;
          cursor: pointer; }
      main .filter-container-open .filter-characteristics-price__description {
        font-weight: 500;
        font-size: 14px; }
      main .filter-container-open .filter-characteristics-price__price {
        font-weight: bold;
        font-size: 14px;
        margin-bottom: 20px; }
      main .filter-container-open .filter-characteristics-cont {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 25px;
        margin: 20px 0;
        cursor: pointer; }
    main .filter-container-open .filter__button {
      font-weight: 600;
      font-size: 16px;
      display: block;
      height: 64px;
      width: 100%;
      margin-top: 150px;
      background-color: #151C22;
      color: white !important;
      text-align: center;
      line-height: 64px; }
      main .filter-container-open .filter__button:hover {
        box-shadow: 0 0 0px 3px #F1F2F4, 0 0 0px 4px black;
        transition-duration: 0.3s; }
      main .filter-container-open .filter__button-more768px {
        display: none; }
  main .assortments {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
    main .assortments .assortments-unit {
      width: 40%;
      margin-top: 20px; }
    main .assortments-none {
      display: none; }
    main .assortments-unit {
      width: 100%;
      height: auto;
      padding: 5px; }
      main .assortments-unit__image {
        width: 100%; }
      main .assortments-unit__name {
        font-weight: 500;
        font-size: 16px;
        margin-top: 5px;
        margin-bottom: 5px; }
      main .assortments-unit__price {
        font-weight: bold;
        font-size: 14px; }
      main .assortments-unit:hover {
        transform: scale(1.05);
        box-shadow: 0 0 0px 3px white, 0 0 0px 4px black;
        transition-duration: 0.3s; }
  main .all-products {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    main .all-products__name {
      font-weight: 500;
      font-size: 16px;
      color: #727A82; }
  main .no-products {
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    height: 200px; }
    main .no-products__name {
      font-weight: 600;
      font-size: 20px;
      color: #727A82; }
    main .no-products-show {
      display: flex; }

.footer {
  background-color: #151C22;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 5%; }
  .footer .sections {
    text-align: center;
    margin-bottom: 40px;
    width: 90%;
    display: grid;
    row-gap: 20px;
    grid-template-areas: "nimes sitemap" "shop service" "delivery contacts"; }
    .footer .sections__name {
      display: flex;
      color: white;
      grid-area: nimes;
      font-weight: 800;
      font-size: 24px; }
    .footer .sections__unit_shop {
      display: flex;
      color: white;
      grid-area: shop; }
      .footer .sections__unit_shop:hover {
        color: rgba(255, 255, 255, 0.623); }
    .footer .sections__unit_delivery {
      display: flex;
      color: white;
      grid-area: delivery; }
      .footer .sections__unit_delivery:hover {
        color: rgba(255, 255, 255, 0.623); }
    .footer .sections__unit_service {
      display: flex;
      color: white;
      grid-area: service; }
      .footer .sections__unit_service:hover {
        color: rgba(255, 255, 255, 0.623); }
    .footer .sections__unit_sitemap {
      display: flex;
      align-items: center;
      color: white;
      grid-area: sitemap; }
      .footer .sections__unit_sitemap:hover {
        color: rgba(255, 255, 255, 0.623); }
    .footer .sections__unit_contacts {
      display: flex;
      color: white;
      grid-area: contacts; }
      .footer .sections__unit_contacts:hover {
        color: rgba(255, 255, 255, 0.623); }
  .footer .social-networks {
    display: flex;
    justify-content: space-between;
    width: 170px; }
    .footer .social-networks__unit:hover svg path {
      fill: rgba(255, 255, 255, 0.623); }

@media (min-width: 768px) {
  header .menu {
    margin-top: 0; }
    header .menu .burger-cont {
      width: 0;
      display: none; }
    header .menu .burger {
      width: 0;
      display: none; }
    header .menu .catalog {
      position: static;
      display: flex;
      width: 30%; }
  header .main {
    background-color: #F1F2F4;
    justify-content: center;
    margin: 0 0%; }
    header .main .title {
      display: flex;
      flex-direction: column;
      justify-content: center; }
      header .main .title .bread-crumb {
        margin-bottom: 40px; }
        header .main .title .bread-crumb__unit_delete {
          display: block !important; }
      header .main .title__name {
        display: block !important; }
    header .main .philosophy {
      display: block !important; }

  main .filter-container {
    justify-content: flex-end; }
    main .filter-container .filter {
      width: 250px; }
    main .filter-container-open .filter {
      position: relative; }
      main .filter-container-open .filter-cont {
        z-index: 100;
        position: absolute;
        width: 250px;
        padding: 0;
        top: 393px;
        border: 2px solid #151C22; }
      main .filter-container-open .filter-nav {
        display: none; }
      main .filter-container-open .filter-characteristics-price {
        padding: 0 4%; }
      main .filter-container-open .filter-characteristics-color {
        padding: 0 4%; }
        main .filter-container-open .filter-characteristics-color-set {
          padding: 0 20% 0 0;
          margin-bottom: 0; }
          main .filter-container-open .filter-characteristics-color-set__unit {
            margin-bottom: 20px; }
      main .filter-container-open .filter-characteristics-collection {
        padding: 0 4%; }
        main .filter-container-open .filter-characteristics-collection-set {
          padding: 0 10% 0 0;
          margin-bottom: 0;
          justify-content: flex-start; }
          main .filter-container-open .filter-characteristics-collection-set__unit {
            margin-bottom: 20px; }
      main .filter-container-open .filter-characteristics-cont {
        margin: 12px 0; }
        main .filter-container-open .filter-characteristics-cont__name {
          font-weight: 500;
          font-size: 16px; }
      main .filter-container-open .filter__button {
        margin-top: 40px; }
        main .filter-container-open .filter__button:hover {
          box-shadow: none;
          background-color: rgba(21, 28, 34, 0.9); }
        main .filter-container-open .filter__button:active {
          background-color: rgba(21, 28, 34, 0.9); }
        main .filter-container-open .filter__button-more768px {
          font-weight: 600;
          font-size: 16px;
          display: block;
          height: 64px;
          width: 100%;
          background-color: white;
          color: #151C22 !important;
          text-align: center;
          line-height: 64px; }
          main .filter-container-open .filter__button-more768px:hover .filter__button-more768px_link::after {
            width: 100%;
            transition-duration: 0.3s; }
          main .filter-container-open .filter__button-more768px_link {
            position: relative; }
            main .filter-container-open .filter__button-more768px_link::after {
              content: '';
              background-color: #151C22;
              width: 0%;
              height: 2px;
              position: absolute;
              top: 20px;
              left: 0; }
  main .assortments {
    justify-content: space-around; }
    main .assortments .assortments-unit {
      width: 27%; }
  main .no-products {
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    height: 200px; }
    main .no-products h1 {
      font-weight: 700;
      font-size: 32px;
      color: #727A82; }
    main .no-products-show {
      display: flex; }
  main .load-more {
    margin-top: 45px; }

  .footer {
    align-items: center; }
    .footer .sections {
      width: 470px;
      grid-template-areas: ". . nimes . ." "shop delivery service sitemap contacts";
      row-gap: 20px; }
      .footer .sections__name {
        display: flex;
        justify-content: center; }
      .footer .sections__unit_shop {
        display: flex;
        justify-content: center; }
      .footer .sections__unit_delivery {
        display: flex;
        justify-content: center; }
      .footer .sections__unit_service {
        display: flex;
        justify-content: center; }
      .footer .sections__unit_sitemap {
        display: flex;
        justify-content: center; }
      .footer .sections__unit_contacts {
        display: flex;
        justify-content: center; } }
@media (min-width: 1100px) {
  main .load-more {
    margin-top: 60px; } }
