@import './base.scss';

a {
    text-decoration: none;
}

$main-procent: 7%;

@mixin container($procent) {
    margin: 0 $procent;
}

@mixin font-styles($weight, $size) {
    font-weight: $weight;
    font-size: $size;
}

$colors: (
    background-lightgray: #F1F2F4,
    text-gray: #727A82,
    text-black: #151C22,
    line-gray: #E5E5E5,
    colors-for-circle_first: #B0C3C7,
    colors-for-circle_second: #3B6392,
    colors-for-circle_third: #BFC3C8
);

header {
    .menu {
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        height: 50px;
        align-items: center;
        @include container(4%);
        margin-top: 10px;
        .burger {
            &-cont {
                width: 30%;
            }
            margin-top: -10px;
            cursor: pointer;
            width: 20px;
            & span {
                display: block;
                width: 100%;
                height: 2px;
                border-radius: 20px;
                background-color: map-get($map: $colors, $key: text-black);
                position: relative;
            }
            & span::before {
                display: block;
                width: 100%;
                height: 2px;
                border-radius: 20px;
                background-color: map-get($map: $colors, $key: text-black);
                content: "";
                position: absolute;
                transition-duration: 800ms;
                top: 5px;
            }
            & span::after {
                display: block;
                width: 100%;
                height: 2px;
                border-radius: 20px;
                background-color: map-get($map: $colors, $key: text-black);
                content: "";
                position: absolute;
                transition-duration: 800ms;
                top: 10px;
            }
            &-open span {
                animation-name: cross-up;
                animation-duration: 500ms;
                animation-fill-mode: forwards;
                @keyframes cross-up {
                    50% {
                        transform: translateY(10px);
                    }
                
                    100% {
                        transform: translateY(5px) rotate(45deg);
                    }
                }
                &::after {
                    animation-name: cross-down;
                    animation-duration: 500ms;
                    animation-fill-mode: forwards;
                    @keyframes cross-down {
                        50% {
                            transform: translateY(-20px);
                        }

                        100% {
                            transform: translateY(-10px) rotate(-90deg);
                        }
                    }
                }
                &::before {
                    display: none;
                }
            }
            &-close span {
                animation-name: up-cross;
                animation-duration: 500ms;
                animation-fill-mode: forwards;
                @keyframes up-cross {
                    from {
                        transform: translateY(10px) rotate(45deg);
                    }

                    50% {
                        transform: rotate(0deg) translateY(10px);
                    }

                    100% {
                        transform: translateY(0px);
                    }
                }
                &::after {
                    animation-name: down-cross;
                    animation-duration: 500ms;
                    animation-fill-mode: forwards;
                    @keyframes down-cross {
                        from {
                            transform: translateY(-20px) rotate(-90deg);
                        }

                        50% {
                            transform: translateY(-20px);
                        }

                        to {
                            transform: translateY(0px);
                        }
                    }
                }
                &::before {
                    animation-name: middle-cross;
                    animation-duration: 500ms;
                    animation-fill-mode: forwards;
                    @keyframes middle-cross {
                        from,
                        50% {
                            opacity: 0;
                            transform: translateY(-10px);
                        }

                        100% {
                            opacity: 1;
                        }
                    }
                }
            }
        }
        &-open {
            position: fixed;
            width: 100%;
            background-color: #fff;
            z-index: 100;
            margin: 0;
            .burger-cont {
                margin: 0 4%;
            }
            .catalog {
                display: block !important;
                position: fixed;
                width: 100%;
                background-color: #fff;
                z-index: 100;
                margin-top: 520px;
                height: 1000px;
                padding: 0 4%;
                text-align: center;
                &__unit {
                    padding: 10px 0;
                }
                &__link {
                    @include font-styles(500, 20px);
                }
            }
            .logo {
                display: none;
            }
            .purchases {
                &__unit {
                    display: none;
                }
            }
        }
        .catalog {
            display: none;
            @include font-styles(500, 16px);
            &__unit {
                margin-right: 20px;
                    &:hover .catalog__link::after {
                    width: 100%;
                    transition-duration: 0.3s;
                }
            }
            &__link {
                position: relative;
                &::after {
                    content: '';
                    background-color: map-get($map: $colors, $key: text-black);
                    width: 0%;
                    height: 2px;
                    position: absolute;
                    top: 20px;
                    left: 0;
                }
            }
        }
        .logo {
            width: 30%;
            @include font-styles(800, 24px);
            text-align: center;
        }
        .purchases {
            width: 30%;
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: flex-end;
            &__unit {
                margin-left: 20px;
                &:hover .purchases__link::after {
                    width: 100%;
                    transition-duration: 0.3s;
                }
                & svg {
                    width: 17px;
                    height: 16px;
                }
            }
            &__link {
                position: relative;
                &::after {
                    content: '';
                    background-color: map-get($map: $colors, $key: text-black);
                    width: 0%;
                    height: 2px;
                    position: absolute;
                    top: 20px;
                    left: 0;
                }
            }
        }
    }
}
main {
    width: 100%;
    .product {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: 40px;
        .photos {
            width: 100%;
            background-color: #fff;
            display: flex;
            flex-direction: row;
            justify-content: center;
            .slider {
                display: flex;
                justify-content: center;
                align-items: start;
                &-main-photo {
                    width: 90%;
                    &__image {
                        width: 100%;
                        vertical-align: bottom;
                    }
                }
            }
        }
        .characteristic {
            background-color: map-get($map: $colors, $key: background-lightgray);
            width: 100%;
            padding: 40px 0 40px 5%;
            box-sizing: border-box;
            &__name {
                @include font-styles(bold, 26px);
                margin-bottom: 35px;
            }
            &__caption {
                @include font-styles(400, 14px);
                width: 90%;
                margin-bottom: 35px;
            }
            .colors {
                &__name {
                    @include font-styles(500, 16px);
                    margin-bottom: 25px;
                }
                &-set {
                    display: flex;
                    flex-direction: row;
                    margin-bottom: 35px;
                    &__unit {
                        display: block;
                        border-radius: 50px;
                        background-color: rgb(30, 192, 224);
                        width: 16px;
                        height: 16px;
                        margin-right: 30px;
                        &:hover {
                            transform: scale(1.05);
                            transition-duration: 0.3s;
                        }
                        &_first {
                            background-color: map-get($map: $colors, $key: colors-for-circle_first);
                            &:hover {
                                box-shadow: 
                                0 0 0px 1px map-get($map: $colors, $key: background-lightgray),
                                0 0 0px 2px map-get($map: $colors, $key: colors-for-circle_first);
                            }
                            &_click {
                                transform: scale(1.05);
                                transition-duration: 0.3s;
                                box-shadow: 
                                0 0 0px 3px map-get($map: $colors, $key: background-lightgray),
                                0 0 0px 4px map-get($map: $colors, $key: colors-for-circle_first);
                            }
                        }
                        &_second {
                            background-color: map-get($map: $colors, $key: colors-for-circle_second);
                            &:hover {
                                box-shadow: 
                                0 0 0px 1px map-get($map: $colors, $key: background-lightgray),
                                0 0 0px 2px map-get($map: $colors, $key: colors-for-circle_second);
                            }
                            &_click {
                                transform: scale(1.05);
                                transition-duration: 0.3s;
                                box-shadow: 
                                0 0 0px 3px map-get($map: $colors, $key: background-lightgray),
                                0 0 0px 4px map-get($map: $colors, $key: colors-for-circle_second);
                            }
                        }
                        &_third {
                            background-color: map-get($map: $colors, $key: colors-for-circle_third);
                            &:hover {
                                box-shadow: 
                                0 0 0px 1px map-get($map: $colors, $key: background-lightgray),
                                0 0 0px 2px map-get($map: $colors, $key: colors-for-circle_third);
                            }
                            &_click {
                                transform: scale(1.05);
                                transition-duration: 0.3s;
                                box-shadow: 
                                0 0 0px 3px map-get($map: $colors, $key: background-lightgray),
                                0 0 0px 4px map-get($map: $colors, $key: colors-for-circle_third);
                            }
                        }
                    }
                }
            }
            .sizes {
                &__name {
                    @include font-styles(500, 16px);
                    margin-bottom: 25px;
                }
                &-set {
                    display: flex;
                    flex-direction: row;
                    margin-bottom: 35px;
                    &__unit {
                        margin-right: 25px;
                        &:hover .sizes-set__link::after {
                            width: 100%;
                            transition-duration: 0.3s;
                        }
                    }
                    &__link {
                        color: map-get($map: $colors, $key: text-gray);
                        @include font-styles(500, 18px);
                        position: relative;
                        &::after {
                            content: '';
                            background-color: map-get($map: $colors, $key: text-gray);
                            width: 0%;
                            height: 2px;
                            position: absolute;
                            top: 23px;
                            left: 0;
                        }
                        &_active {
                            color: map-get($map: $colors, $key: text-black);
                            cursor: default;
                            &::after {
                                display: none;
                            }
                        }
                    }
                }
            }
            &__price {
                @include font-styles(bold, 18px);
            }
            &__button {
                @include font-styles(600, 16px);
                display: block;
                margin-top: 35px;
                height: 64px;
                width: 200px;
                background-color: #151C22;
                color: white;
                text-align: center;
                line-height: 64px;
                cursor: pointer;
                &:hover {
                    box-shadow: 
                    0 0 0px 3px map-get($colors, background-lightgray),
                    0 0 0px 4px rgb(0, 0, 0);
                    transition-duration: 0.3s;
                }
            }
        }
    }
}
.footer {
    background-color: #151C22;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 5%;
    .sections {
        text-align: center;
        margin-bottom: 40px;
        width: 90%;
        display: grid;
        row-gap: 20px;
        grid-template-areas: 
            "nimes sitemap"
            "shop service"
            "delivery contacts";
        &__name {
            display: flex;
            color: white;
            grid-area: nimes;
            @include font-styles(800, 24px);
        }
        &__unit {
            &_shop {
                display: flex;
                color: white;
                grid-area: shop;
                &:hover {
                    color: rgba(255, 255, 255, 0.623);
                }
            }
            &_delivery {
                display: flex;
                color: white;
                grid-area: delivery;
                &:hover {
                    color: rgba(255, 255, 255, 0.623);
                }
            }
            &_service {
                display: flex;
                color: white;
                grid-area: service;
                &:hover {
                    color: rgba(255, 255, 255, 0.623);
                }
            }
            &_sitemap {
                display: flex;
                align-items: center;
                color: white;
                grid-area: sitemap;
                &:hover {
                    color: rgba(255, 255, 255, 0.623);
                }
            }
            &_contacts {
                display: flex;
                color: white;
                grid-area: contacts;
                &:hover {
                    color: rgba(255, 255, 255, 0.623);
                }
            }
        }
    }
    .social-networks {
        display: flex;
        justify-content: space-between;
        width: 170px;
        &__unit {
            &:hover svg path {
                fill: rgba(255, 255, 255, 0.623);
            }
        }
    }
}

@media (min-width: 785px) {
    header {
        .menu {
            margin-top: 0;
            .burger-cont {
                width: 0;
                display: none;
            }
            .burger {
                width: 0;
                display: none;
            }
            .catalog {
                display: flex;
                width: 30%;
            }
        }
    }
    main {
        .product {
            flex-direction: row;
            .photos {
                width: 45%;
                margin-left: 5%;
                .slider {
                    &-main-photo {
                        width: 100%;
                        height: auto;
                        &__image {
                            width: 100%;
                            height: auto;
                            vertical-align: bottom;
                        }
                    }
                }
            }
            .characteristic {
                width: 45%;
                margin-right: 5%;
                padding: 30px 0 20px 30px;                
                &__name {
                    @include font-styles(bold, 28px);
                    margin-bottom: 20px;
                }
                &__caption {
                    @include font-styles(400, 14px);
                    width: 90%;
                    margin-bottom: 20px;
                }
                .colors {
                    &__name {
                        @include font-styles(500, 18px);
                        margin-bottom: 10px;
                    }
                    &-set {
                        margin-bottom: 20px;
                    }
                }
                .sizes {
                    &__name {
                        @include font-styles(500, 18px);
                        margin-bottom: 10px;
                    }
                    &-set {
                        margin-bottom: 20px;
                        &__unit {
                            margin-right: 20px;
                        }
                    }
                    &__button {
                        margin-top: 20px;
                    }
                }
            }
        }
        .also-like {
            @include container($main-procent);
            &-title {
                margin-bottom: 60px;
                &__name {
                    @include font-styles(bold, 28px);
                }
                &__button {
                    display: block;
                }
            }
            &-variants {
                column-gap: 20px;
                row-gap: 30px;
                &-unit {
                    &__image {
                        width: 100%;
                    }
                    &__name {
                        @include font-styles(500, 18px);
                    }
                    &__price {
                        @include font-styles(bold, 16px);
                    }
                }
            }
            &-add {
                display: none;
            }
        }
    }
    .footer {
        align-items: center;
        .sections {
            width: 470px;
            grid-template-areas:
                ". . nimes . ."
                "shop delivery service sitemap contacts";
            row-gap: 20px;
            &__name {
                display: flex;
                justify-content: center;
            }
            &__unit_shop {
                display: flex;
                justify-content: center;
            }
            &__unit_delivery {
                display: flex;
                justify-content: center;
            }
            &__unit_service {
                display: flex;
                justify-content: center;
            }
            &__unit_sitemap {
                display: flex;
                justify-content: center;
            }
            &__unit_contacts {
                display: flex;
                justify-content: center;
            }
        }
    }
}

@media (min-width: 1100px) {
    main {
        .product {
            .characteristic {
                &__name {
                    @include font-styles(bold, 32px);
                }
                &__caption {
                    @include font-styles(400, 16px);
                    width: 75%;
                    margin-bottom: 45px;
                }
                .colors {
                    &__name {
                        margin-bottom: 20px;
                    }
                    &-set {
                        margin-bottom: 30px;
                    }
                }
                .sizes {
                    &__name {
                        margin-bottom: 20px;
                    }
                    &-set {
                        margin-bottom: 30px;
                    }
                }
            }
        }
        .also-like {
            &-title {
                margin-bottom: 30px;
                &__name {
                    @include font-styles(bold, 32px);
                }
            }
            &-variants {
                grid-template-areas: 
                    "o1 o2 j1 j2";
            }
        }
    }
}